@media screen and (max-width: 320px) {
	div.socialmedia a.supportphone, div.socialmedia a.supportemail{
		margin-left: -1.5em;
		padding-right: 1em;
	}
}	

/*@media (orientation: landscape) {
	footer,div.steps{
		background: url('images/footerbackground.png');
	}
 }
 */

/*@media screen and (max-aspect-ratio: 768/655){
	footer,div.steps{
		background: url('images/footerbackground.png');
	}
}*/

@media screen and (max-width: 767px) {
	
	html {
		height: 100%;
		min-height: 100%;
		background: url('images/backgroundmobile.png');
		background-size: 1024px 1200px;
		background-position: center center;
		background-attachment: fixed;
		background-position: center;
		background-repeat:no-repeat;
	}

	body{
		margin-bottom: 0;
		height: 100%;
		min-height: 100%;
		/*overflow: hidden;*/
	}

	/*iframe{
		width: 100%;
	}*/

	.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
	}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}

	footer{
		width: 100%;
	}

	footer div{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	display: block;
		}

	div.privacy a{
		color: white;
		text-decoration: none;
	}

	div.cards img{
	margin: 0 auto;
	height: 3em;
	width: 17em;
	}

	div.socialmedia{
	/*begin header transformation*/
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 1em;
	}

	header {
		padding-top: 1.8em;
	}

	div.socialmedia a.supportphone, div.socialmedia a.supportemail{
	padding-right: 1em;
	}
}

@font-face{
	font-family:Shift;
	src:url("fonts/shift1.eot");
	src:url("fonts/shift1.2.eot") format("eot"),url("fonts/shiftwoff.woff") format("woff"),url("fonts/shiftTTF.ttf") format("truetype"),url("fonts/shiftsvg.svg") format("svg");
	font-weight:normal;
	font-style:normal;
}
	
@font-face{
	font-family:Shift;
	src:url("fonts/shiftbold.eot");
	src:url("fonts/shiftbold2.eot") format("eot"),url("fonts/shiftboldwoff.woff") format("woff"),url("fonts/shiftboldTTF.ttf") format("truetype"),url("fonts/shiftboldsvg.svg") format("svg");
	font-weight:bold;
	font-style:normal;
}

html {
	height: 100%;
	min-height: 100%;
}

body{
		padding: 0;
		margin: 0;
}

@media screen and (min-width: 768px) {
	html {
	background: url('images/background.jpg');
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
		height: 100%;
		min-height: 100%;
	}

	body {
	min-height: 100%;
	/*overflow: hidden;
	padding-top: 1em;*/
	}

	header{
		padding-top: 1.5em;
	}

	/*iframe{
	width:60%;
	}*/

	footer div{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	display: block;
	}

	div.cards img{
	width: 80%;
	display: block;
	margin: 0 auto;
	height: 3em;
	width: 17em;
	}

	div.socialmedia{
	/*begin header transformation*/
	width: 93%;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	clear: both;
	padding-right: 1em;
	}
}

@media screen and (min-height: 655px) {
		body {
	background: url('images/background.jpg');
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
	/*overflow: hidden;*/
	}
}

body{
	margin-top: -1em;
}

header {
	text-align: center;
}

header h1, header h2, header h3 {
	color: white;
	font-weight: bold;
	font-family: Shift;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

header h3{
	font-style: italic;
}

div.pay {
	/*padding-top: 1em;*/
	width: 10em;
	padding-left: 3em;
	display: block;
	margin: 0 auto;

	padding-bottom: 2em;
}

h3.entice{
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: Shift;
	/*text-shadow: 0 -10px 3px rgba(0, 0, 0, 0.6);*/
	text-shadow: 0 -7px 2px rgba(0, 0, 0, 0.6);
}

iframe{
	display: block;
	margin: 0 auto;
}

footer{
	width: 100%;
	/*display: inline-block;*/
}

	footer div a{
		color: white;
		text-decoration: none;
	}

	footer div{
		color: white;
	}

div.privacy a{
font-size: 1em;
color: white;
text-decoration: none;
}

div.steps{
	/*margin: 0 auto;*/
	height: auto;
	width: 100%;
	/*background: green;*/
	text-align: center;
}

div.step{
	border: 2px solid white;
	/*background: url('images/greybg.jpg');*/
	font-family: Shift;
	display: inline-table;
	margin: 0 auto;
	width: 15em;
	height: 9em;
	/*background: lightgrey;*/
	text-align: center;
	margin-bottom: 1em;
}

#one{
	height: 9.3em;
	/*color: red;*/
	color: white;
	margin-left: 0;
}

#two{
	/*color: orange;*/
	color: white;
	height: 9.3em;
}

#three{
	/*color: green;*/
	color: white;
}

div.step h3{
	border-bottom: groove 1px grey;
}

div.step i{
	font-size: 2em;
}

div.socialmedia{
font-size: 2em;
color: white;
text-decoration: none;
}

.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
/*
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  top: -10px;
}
*/

.bubble-top:before, .bubble-top:before, .bubble-top:before {
  top: -10px;
}

/*
.contactinfo{
	display: none;
}*/

/*Begin contact info pop-up box styling*/

div.contactinfo{
	font-family: Shift;
	/*background: url('images/greybg.jpg');*/
	color: black;
	height: 1em;
	text-decoration: none;
	top: 0;
	width: 20%;
	clear: both;
	position: absolute;
	float: left;
}

div.contactinfo p{
	margin-top: -1em;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	font-size: .8em;
}

div.contactinfo i.fa-times-circle{
	font-size: 1.5em;
	position: relative;
	clear: both;
	float: right;
	color: red;
	top: 0;
	right: 0;
}

/*
div.contactinfo i.fa-phone-square, div.contactinfo i.fa-envelope-square{
	padding-top: 1em;
	font-size: 1.2em;
	padding-right: .5em;
}
*/

div.contactinfo{
	float: left;
	text-align: left;
	width: 50em;
	position: absolute;
}

div.socialmedia a.supportphone, div.socialmedia a.supportemail{
	position: absolute;
	clear: both;
	top: 0;
	left: 0;
	text-align: left;
	display: inline;
	padding-top: 1em;
	font-size: .5em;
	padding-right: .7em;
}

 a.supportphone{
 	margin-top: -1em;
}

div.contactinfo a.supportphone{
	padding-left: 0em;
}


div.contactinfo i.fa-phone-square{
	padding-left: 2em;
}